  <div class="formWraper">
    <form class="loginForm" #loginUserForm="ngForm" novalidate>
      <h1>LogIN</h1>
      <div>
        <input name="username" type="text" placeholder="Username..." [(ngModel)]="user.username" autocomplete="off">
      </div>
      <div>
        <input name="password" type="password" placeholder="Password..." [(ngModel)]="user.password" autocomplete="off">
      </div>
      <div class="buttons">
        <button type="submit" (click)="login()">Login</button>
        <br>
        <button routerLink="/signup" routerLinkActive ="active">SignUp</button>
      </div>
    </form>
  </div>
