.formWraper {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr;
  height: 80vh;

  .loginForm {
    justify-self: center;
    align-self: center;

    h2 {
      text-transform: uppercase;
      text-align: center;
    }

    input {
      width: 250px;
      padding: 7px 10px;
      margin: 10px;
      border-radius: 10px;
      box-shadow: none;
      outline-style: none;

    }
    input:focus {
      outline-style: none;
    }

    .buttons {
      text-align: center;
      button {
        margin: 10px;
        padding: 7px 10px;
        width: 120px;
        border-radius: 10px;
        border: none;
        background-color: #696969;
        color: #fff;
      }
      button:focus {
        outline: 0;
        outline-style: none;
      }
      button:active {
        outline: 0;
        border: none;
      }
    }
  }
}
