
.scoreboard-wraper {
  text-align: center;
  width: 100%;
  
  h5 {
    text-align: center;
  }

  ul {
    list-style: none;
    width: 50%;
    margin: 0 auto;
    li {
      padding: 5px;
      span {
        font-weight: 500;
        margin-right: 20px;
      }
    }
  }
}
