.dashboard {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 50px;
  padding: 20px 100px;

  .dashboard-navigation {
    align-self: stretch;
    margin: 10px;
  }

  .dashboard-content {
    align-self: stretch;
    width: 100%;
    margin: 10px;
  }
}
