@import "../../styles/_variables.scss";
@import "../../styles/mixins.scss";

@include sm {
  .dashboard {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 10px;
    background-image: url("../../assets/images/dark-bg.jpg");
    background-size: auto;
    overflow: hidden;

    .dashboard-navigation {
      align-self: stretch;
      margin: 5px;
    }

    .dashboard-content {
      align-self: stretch;
      width: 100%;
    }

    .dashboard-footer {
      color: #fff;
    }
  }
}

@include lg {
  .dashboard {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 10px;
    background-image: url("../../assets/images/dark-bg.jpg");
    background-size: cover;
    overflow: hidden;
    padding: 10px 30px;

    .dashboard-navigation {
      align-self: stretch;
      margin: 5px;
    }

    .dashboard-content {
      align-self: stretch;
      width: 100%;
    }

    .dashboard-footer {
      color: #fff;
    }
  }
};
