.dashboard {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 10px;
  background-image: url("../../assets/images/dark-bg.jpg");
  background-repeat:no-repeat;
  background-size: contain;

  .dashboard-navigation {
    align-self: stretch;
    margin: 5px;
  }

  .dashboard-content {
    align-self: stretch;
    width: 100%;
  }
}
