<div class="navigation">
  <ul class="navigation-list">
    <li><a href="#" routerLink="nba-quiz" routerLinkActive ="active">Play</a></li>
    <li><a href="#" routerLink="profile" routerLinkActive ="active">Profile</a></li>
    <li><a href="#" routerLink="scoreboard" routerLinkActive ="active">Scoreboard</a></li>
    <li *ngIf="role == 'admin'"><a href="#" routerLink="admin-panel" routerLinkActive ="active">Admin Panel</a></li>
    <li><a href="" routerLink="/login" routerLinkActive ="active" (click)="logout()">Logout</a></li>
  </ul>
  <hr>
</div>
